:root {
    --feedly-icon-color-accent: black !important;
}

:root, body {
    font-family: georgia,'times new roman',times,serif;
    font-size: 18px;
}

.header {
    border-bottom: 5px double black;
    padding-bottom: 1rem;
}

/* Articles */
.InlineArticle {
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0;
    padding: 2rem 0;
    margin: 0 auto;
}

.visitWebsiteButton {
    width: auto;
    margin-top: 0.75rem;
    border: none;
    background-color: black;
    color: white;
    border-radius: 0;
    padding: .25em;
}


h1 > :last-child {
    display: none;
}

.EntryStackablePrompts {
    display: none;
}

.entryholder > div {
    max-width: 70ch;
}

.entryBody {
    max-width: 100%;
    text-align: justify;
    font-size: 1rem;
}

.entryBody img {
    margin: auto;
    display: block;
}

.ShareBar__actions-left > :not(button[title="Copy link to clipboard"]),
.ShareBar__actions-left + div > :not(button[title="More services"]) {
    display: none;
}

.shareBarHolder {
    margin: 0;
}

.ShareBar__wrapper {
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    width: 100%
}

.ShareBar--full-article {
    border: none;
}

button[title="Copy link to clipboard"],
button[title="More services"] {
    margin: 0;
    padding: 0 1rem;
}

.EntryMetadata > :last-child,
button[title="Copy link to clipboard"],
button[title="More services"] {
    opacity: 0;
}

article:hover .EntryMetadata > :last-child,
article:hover button[title="Copy link to clipboard"] ,
article:hover button[title="More services"] {
    opacity: 100%;
}

.PinActions {
    display: none;
}

#headerBarFX {
    border-bottom: none;
}

#feedlyPageFX > div > :nth-child(2) * {
    color: inherit;
    border-color: inherit;
}