/*
Domain: https://www.newshub.co.nz
CSS injection that sets width of News Hub articles to 80 characters and removes
unnecessary clutter - footers, blocks with links to other articles, etc.
*/


/* Main Article */
.Grid {
    display: block;
    margin: auto;
}

.Grid > :first-child {
    width: 80ch !important;
    margin: auto;
    display: block;
    text-align: justify;
}

/* hide aside */
.Grid > :last-child {
    display: none;
}

/* hide footer */
.c-Footer {
    display: none;
}

/* hide related article recommendations */
.relatedarticles {
    display: none;
}

/* Hide Select Header Links */
.GlobalHeader-weather,
.GlobalHeader-media,
#un_wht {
    display: none !important;
}