/*
Domain: https://www.nytimes.com
CSS injection that sets width of NTY articles to 80 characters and removes
unnecessary clutter - footers, blocks with links to other articles, etc.
*/


/* Article Content */

/* Adjusts header content */
article header {
    width: 80ch;
    max-width: 80ch;
    margin: auto;
    margin-bottom: 3em !important;
}

h1,
article header > *,
div[data-testid="reading-time-module"] > * {
    width: 100% !important;
    max-width: 100% !important;
}

/* Adjusts article content */
.StoryBodyCompanionColumn > div {
    width: 80ch;
    max-width: 80ch;
    margin: auto;
    text-align: justify;
}

/* Adjusts end of article content */
.bottom-of-article {
    margin-top: 5em;
}

.bottom-of-article,
.bottom-of-article > * {
    width: 80ch !important;
    max-width: 80ch;
    margin: auto;
}

.bottom-of-article > div[role="toolbar"] > *,
.bottom-of-article > * {
    width: 100% !important;
    max-width: 100% !important;
}

/* Adjusts images */
figure, img {
    max-width: 80ch !important;
}

/* - removes links to additional pages inserted around or in article */
aside,
section[role="complementary"],
.related-links-block {
    display: none !important;
}

/* - removes content after the article */
footer,
#site-index,
#bottom-sheet-sensor {
    display: none !important;
}


/* END Article Content */


/* Full Picture Headers */

/* - orders as a column */
#fullBleedHeaderContent > header {
    flex-direction: column-reverse;
    height: auto;
    margin-bottom: 1rem;
}

/* - sets width of header and images */
#fullBleedHeaderContent > *,
#fullBleedHeaderContent figure img {
    width: 80ch;
    max-width: 80ch;
    margin: auto auto 0;
}

/* - removes additional padding on title */
#fullBleedHeaderContent > header > :last-child {
    padding-bottom: 0;
}

/* - removes double image caption */
#fullBleedHeaderContent *[aria-hidden="true"] {
    display: none;
}

/* END Full Picture Headers */


/* MISC */

/* Removes gift the times button */
a[href*="subscription/gift"] {
    display: none;
}

/* END MISC */
