#subscriber-recirculation-bottom-sheet {
  display: none;
}

div[data-testid^="RelatedLinksBlock"] {
  display: none;
}

#bottom-sheet-sensor {
  display: none;
}


.bottom-of-article + div {
  display: none;
}

nav#site-index {
  display: none;
}


@media print {
  @page {
    size: A4;
    margin: 1.25in;
  }

  :root, body {
    font-size: 14px;
  }
}

