:root {
  --primary: #192734;
  --primary-alt: #384047;
  --background: #f2f2f2;
  --surface: #caccce;

  font-size: 1.1rem;
}

body {
  background-color: var(--background);
  color: var(--primary);
}

#masthead, .c-sub-nav {
  background-color: var(--surface);
}

.content__secondary {
  display: none;
}

.content__primary {
  float: unset;
  margin: auto;
  width: 50ch;
  font-size: 1rem;
}

#documentContent::before {
  all: unset;
}

.article__body p {
  font-size: 1rem;
}

*::selection {
  background: #FFE500;
  color: #121212;
}

a::selection {
  text-decoration: underline;
}

