/*
Domain: https://www.washingtonpost.com/
CSS injection that sets width of Washington Post articles to 80 characters and
removes unnecessary clutter - footers, blocks with links to other articles, etc.
*/


/* - display article as 80ch */
.grid-main-standard,
.grid-full-inner-standard,
.grid-article .grid-body {
    display: block;
    margin: auto;
    max-width: 80ch;
}

figure, img {
    max-width: 80ch;
}

main article {
    text-align: justify;
}

/* - links inserted in the middle of articles and side banner */
.grid-rail,
div[data-qa="subscribe-promo"] {
    display: none;
}

/* - Navigation at the top of the article */
main header nav {
    display: none !important;
}

/* - hide comments after article */
div[data-testid="coral-comments"] {
    display: none;
}

/* - hide items after article */
footer > div:first-child,
div[data-qa="more-from-the-post"],
.hide-for-print[data-testid="collections__wrapper"] {
    display: none;
}

/* - hide banner at bottom of screen */
div[id^="softwall-link"] {
    display: none;
}
