/*
Domain: https://twitter.com
CSS injection that removes unnecessary clutter.
*/


/* Bottom banner / popup / messages overlay */
#layers > :first-child {
    display: none;
}

/* Sidebar Icons */
a[aria-label="Twitter Blue"],
a[aria-label="Search and explore"],
a[aria-label="Bookmarks"],
a[aria-label="Verified Organizations"] {
    display: none;
}

/* View Count */
a[aria-label$="View Tweet analytics"] {
    display: none;
}

/* Redundant Compose Tweet Button */
header div > a[href="/compose/tweet"] {
    display: none;
}

/* Sidebar */
div > a[data-testid="analyticsButton"],
div[aria-label="Trending"] > div > :not(:first-child) {
    display: none !important;
}

/* Stop sticky header */
div[aria-label="Home timeline"] > :first-child {
    position: relative !important;
}

/* Give search bar more space */
div[aria-label="Trending"] > div > * {
    position: relative;
}


div[data-testid="sidebarColumn"] {
    margin-top: 2rem !important;
}
