:root {
  --items-per-row: 1;
  --max-width: 400px;
  --min-width: 310px;
}

ytd-rich-grid-renderer {
   margin-right: calc(var(--app-drawer-width) / 1.3);
  --ytd-rich-grid-item-max-width: var(--max-width);
  --ytd-rich-grid-item-min-width: var(--min-width);
  --ytd-rich-grid-items-per-row: var(--items-per-row);
  --ytd-rich-grid-posts-per-row: var(--items-per-row);
  --ytd-rich-grid-slim-items-per-row: var(--items-per-row); 
  --ytd-rich-grid-game-cards-per-row: var(--items-per-row);
  --ytd-rich-grid-mini-game-cards-per-row: var(--items-per-row);
}

